body {
    background-color:orange;
    height: 250vh;
  }

 .title{
    font-family: Andale Mono, monospace ;
    font-style: italic
 } 

 .subtitle{
    background-color: blue;
    color: white;
 } 
 .sub_title{
    color: white;
    
 }
 .compgame{
    font-family: Monaco, monospace ;
    text-align: center;
 }

 .questionfont{
   font-family: Helvetica, monospace ;
   text-align: center;
   font-weight: bold;
 }

 .buttonalign{
   text-align:center;
 }
 .div1 {
   border: 1px solid blue;
   text-align: center;
   display: inline-block;
   margin: auto;
   background-color:lemonchiffon;
   vertical-align:top
 }
 .div2 img {
   border: 1px solid blue;
   max-width:100%;
   max-height:100%;
   display: inline-block;
 }