body {
    background-color:#b4d5c0;
  }
  h1 {
    color: blue;
  }

  div > p {
    color: red;
    font-family: verdana;
    border: 2px solid #391ec0;
    height: 100px;
    width: 50%;
    padding: 30px;
    margin: 50px;
    background-color: #cce061;
  }
  #one{
    font-family: 'Impact';
    text-align: center;
    color: red;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
p.hometown {
    background-color: yellow;
  }
h1.center {
    text-align: center;
  }
a.highlight:hover {
    color: #b91ec0;
  }
h1.zeushead {
    text-align: center;
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p.fun{
    background-color: #f7d361;
  }
  h2 {
    text-decoration: underline;;
  }